.container {
    width: 100%;
    margin: 0 auto;



}

.content {
    max-width: 728px;
    margin: 0 auto;
    padding: 4rem 0;

    a {
        display:block;
        border-bottom: 1px solid #323238;
        padding-bottom: 2rem;

        & + a {
            margin-top: 2rem;
        }

        &:last-child {
            border: 0;
        }

        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.8);
        }

        time {
            display: flex;
            color: var(--gray-300);
            font-size: 1rem;
        }

        strong {
            display: block;
            font-size: 1.5rem;
            margin-top: 1rem;
        }

        p {
            margin-top: 0.5rem;
            font-size: 1rem;
            color: var(--gray-300);
        }
    }

}